<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Swiper CDN for carousell -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <style>
        .carousel{
            position: relative; /* Relative positioning */
            overflow: hidden;
        }
        .swiper-container {
            height: 10%;
            width: 90%;
            overflow: hidden; /* Hide overflow */
        }
        .swiper-wrapper{
            aspect-ratio: 8/3;
        }
        /* Adjusting styles for nav buttons */
        .swiper-button-next,
        .swiper-button-prev {
            color:black;
            position: absolute;
            transform: translateY(-50%);
        }
        .swiper-pagination {
            position: relative; /* Relative positioning */
            margin-top: 2%; /* Adjust margin as needed */
        }

        .item {
            border: 1px solid #ddd; /* Add a border if needed */
            border-radius: 8px; /* Rounded corners */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}


        
    </style>
    <title>Home</title>
</head>
<body>
    <div class="flex flex-col min-h-screen bg-amber-50 bg-cover">
        <!-- Navigation bar -->
        <nav class="flex items-center justify-between p-3 w-full" style="background-color: #041562;">
            <div class="flex items-center space-x-4">
                <a href="/">
                    <img src="/images/logo.png" class="h-14 w-auto" alt="Logo">
                </a>
            </div>
            <div class="flex items-center justify-center space-x-4">
                <a href="/category/fashion" class="p-4 text-white text-xl">Fashion</a>
                <a href="/category/electronics" class="p-4 text-white text-xl">Electronics</a>
                <a href="/category/lifestyle" class="p-4 text-white text-xl">Lifestyle</a>
                <a href="/category/recreation" class="p-4 text-white text-xl">Recreation</a>
                <a href="/category/collectibles" class="p-4 text-white text-xl">Collectibles</a>
                <a href="/category/resources" class="p-4 text-white text-xl">Resources</a>
                <a href="/category/others" class="pl-4 pr-3 py-4 text-white text-xl">Others</a>
                <a href="/profile?section=listings" class="py-3"><img src="https://img.icons8.com/?size=100&id=85050&format=png&color=FFFFFF" alt="Profile Icon" class="h-10 w-10"></a>
                <a href="/profile?section=favourites" class="py-3"><img src="https://img.icons8.com/?size=100&id=85038&format=png&color=FFFFFF" alt="Favourites Icon" class="h-10 w-10"></a>
                <button class="px-4 py-2 mr-5 w-20 text-white rounded" onclick="window.location.href='/listProduct'" style="background-color: #DA1212">List</button> 
            </div>
        </nav>
        <!-- End of Navigation bar -->

        <!-- Search bar -->
        <div class="bg-gray-200 rounded-lg shadow-lg w-full mx-auto">
            <form id="filter-form" class="flex space-x-4 justify-center py-4" action="/" method="GET">
                <input type="text" name="product_name" placeholder="Product Name" class="px-4 py-2 border rounded-md shadow-lg" style = "width: 50%;" value="<%= typeof product_name !== 'undefined' ? product_name : '' %>">
                <select name="transaction_type" class="px-4 py-2 border rounded-md shadow-lg">
                    <option value="" <%= !transaction_type ? 'selected' : '' %>>All</option>
                    <option value="Sell" <%= transaction_type === 'Sell' ? 'selected' : '' %>>For Sale</option>
                    <option value="Trade" <%= transaction_type === 'Trade' ? 'selected' : '' %>>For Trade</option>
                    <option value="Free" <%= transaction_type === 'Free' ? 'selected' : '' %>>For Free</option>
                </select>
                <button type="submit" class="px-4 py-2 text-white rounded-md bg-[#DA1212]" onclick="window.location.href='/Filter'">
                    <img src="https://img.icons8.com/?size=100&id=82712&format=png&color=FFFFFF" class="w-6 h-6">
                </button>
            </form>
        </div>
        <!-- End of search bar -->

        <!-- Carousell  -->
        <div class = "flex justify-center mt-6 carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/donation.png" alt="Slide 1" class="w-full">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://via.placeholder.com/800x300" alt="Slide 2" class="w-full">
                    </div>
                    <div class="swiper-slide">
                        <img src="https://via.placeholder.com/800x300" alt="Slide 3" class="w-full">
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <!-- End of Carousell -->
        <br>
        <!-- Categories -->
        <h1 class="text-2xl md:text-3xl leading-normal mb-4 ml-10">Categories</h1>
        <div class="flex overflow-x-auto space-x-2 p-4 justify-center">
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/fashion'">
                <img src="https://img.icons8.com/?size=100&id=110247&format=png&color=FFFFFF" alt="Fashion Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Fashion
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/electronics'">
                <img src="https://img.icons8.com/?size=100&id=11409&format=png&color=FFFFFF" alt="Electronics Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Electronics
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/lifestyle'">
                <img src="https://img.icons8.com/?size=100&id=9783&format=png&color=FFFFFF" alt="Lifestyle Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Lifestyle
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/recreation'">
                <img src="https://img.icons8.com/?size=100&id=11630&format=png&color=FFFFFF" alt="Recreation Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Recreation
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/collectibles'">
                <img src="https://img.icons8.com/?size=100&id=63372&format=png&color=FFFFFF" alt="Collectibles Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Collectibles
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/resources'">
                <img src="https://img.icons8.com/?size=100&id=9492&format=png&color=FFFFFF" alt="Resources Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Resources
            </button>
            <button class="flex flex-col items-center p-2 bg-red-600 text-white rounded-xl flex-shrink-0 w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40 text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl" onclick="window.location.href='/others'">
                <img src="https://img.icons8.com/?size=100&id=114595&format=png&color=FFFFFF" alt="Others Icon" class="h-6 w-6 mb-1 sm:h-8 sm:w-8 md:h-10 md:w-10 lg:h-12 lg:w-12 xl:h-14 xl:w-14">
                Others
            </button>
        </div>
        <!-- End of Categories -->     


        <!-- Start of Listings -->
        <h1 class="text-2xl md:text-3xl leading-normal mb-4 mt-24 ml-10">Newly listed</h1>
        <div id="listings-section" class="grid grid-cols-4 gap-2 pl-32 pr-20 pt-4">
            <% if (product && product.length > 0) { %>
                <% product.forEach((listing, index) => { %>
                    <div class="flex justify-center py-6 item" data-transaction-type="<%= listing.transaction_type %>">
                        <div class="w-full h-auto">
                            <img src="<%= listing.image %>" class="w-80 h-96 object-cover rounded-lg">
                            <p class="pt-3 pb-1 font-bold text-2xl"><%= listing.product_name %></p>
                            <p class="pb-1 text-xl">$<%= listing.price %></p>
                            <div class="flex space-x-1">
                                <div id="listings-<%= index %>-first" class="px-4 py-1 rounded-full text-white" style="background-color: #DA1212;">
                                </div>
                                <div id="listings-<%= index %>-second" class="px-4 py-1 rounded-full text-white hidden" style="background-color: #DA1212;">
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No listings available.</p>
            <% } %>
        </div>
        <br>
        <!-- End of Listings -->
    </div>


    <!-- Footer -->
    <footer class="mt-auto w-full text-white py-4 flex flex-col items-center" style="background-color: #0d4aa6;">
        <div class="w-full flex justify-between items-center px-10">
            <h1 class="text-2xl md:text-3xl"> SMart</h1>
            <div class="flex space-x-4 pr-12">
                <a href="/" class="text-white text-xl">About us</a>
                <a href="/" class="text-white text-xl">Contact us</a>
            </div>
        </div>
        <div class="w-full flex justify-between px-10 mt-4">
            <div class="flex space-x-4">
                <a href="https://twitter.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=fJp7hepMryiw&format=png&color=FFFFFF" alt="Twitter Icon" class="h-10 w-10">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=32292&format=png&color=FFFFFF" alt="Instagram Icon" class="h-10 w-10">
                </a>
                <a href="https://facebook.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=FFFFFF" alt="Facebook Icon" class="h-10 w-10">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="https://img.icons8.com/?size=100&id=8808&format=png&color=FFFFFF" alt="LinkedIn Icon" class="h-10 w-10">
                </a>
            </div>
        </div>
        <br>
        <p class="text-xs">&copy; 2024 SMart. All rights reserved</p>

    </footer>
    <!-- End of footer -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(".logoutBtn").click(function () {
            alert("Logged out");
        });
        //Javascript for carousell
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        //Javascript for the favourites icon
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const section = urlParams.get('section') || 'listings'; // Default to 'listings' if no section is specified
            switchSection(section);
        });

        function switchSection(id) {
            const elements = document.querySelectorAll('.cursor-pointer');
            elements.forEach(el => {
                el.classList.remove('red', 'underline');
                el.classList.add('text-black');
            });

            const selectedElement = document.getElementById(id);
            selectedElement.classList.remove('text-black');
            selectedElement.classList.add('red', 'underline');

            const sections = {
                listings: "listings-section",
                reviews: "reviews-section",
                favourites: "favourites-section"
            };

            for (const section in sections) {
                document.getElementById(sections[section]).classList.add('hidden');
            }

            switch(id) {
                case 'listings':
                    document.getElementById(sections.listings).classList.remove('hidden');
                    break;
                case 'reviews':
                    document.getElementById(sections.reviews).classList.remove('hidden');
                    break;
                case 'favourites':
                    document.getElementById(sections.favourites).classList.remove('hidden');
                    break;
            }
        }


        document.addEventListener('DOMContentLoaded', function() {
        // For transaction type
        switchTransactionType('listings');
        switchTransactionType('favourites');
        // Extract the section from URL and switch section accordingly
        const urlParams = new URLSearchParams(window.location.search);
        const section = urlParams.get('section') || 'listings'; // Default to 'listings' if no section is specified
        switchSection(section);
    });

        // For the transaction type
        function switchTransactionType(field) {
            const section = document.getElementById(`${field}-section`);
            const sectionItems = section.querySelectorAll('.item');

            sectionItems.forEach((item, index) => {
                const transactionType = item.dataset.transactionType.split(',').map(t => t.trim()); // Split by comma and trim whitespace
                const firstBubble = document.getElementById(`${field}-${index}-first`);
                const secondBubble = document.getElementById(`${field}-${index}-second`);
                
                if (firstBubble) {
                    if (transactionType.length === 1) {
                        firstBubble.innerHTML = `<p>${transactionType[0]}</p>`;
                        firstBubble.classList.remove('hidden');
                        secondBubble.classList.add('hidden');
                    } else if (transactionType.length === 2) {
                        firstBubble.innerHTML = `<p>${transactionType[0]}</p>`;
                        secondBubble.innerHTML = `<p>${transactionType[1]}</p>`;
                        firstBubble.classList.remove('hidden');
                        secondBubble.classList.remove('hidden');
                    }
                }
            });
        }

    </script>
    
</body>
</html>

